.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 350px;
  margin-top: 50px;
}

.form-container {
  width: 80%;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.w-100 {
  width: 100%;
}
